@import './variables.less';

.home{
  text-align: center;
  color: @theme-dark;
  height:100%;
  p{
    text-align: center;
    font-size: 16px;
    margin-bottom: 30px;
  }
  span{
    margin: 10px 0;
    display: inline-block;
  }
  a{
    color: white;
    display: block;
    padding: 10px;
    width: 100%;
    background-color: @theme-main;
    text-decoration: none;
    border-radius: 5px;
    &:active{
      color: white;
    }

  }

}
@media screen and (min-width: 960px){
  .home{
    max-width: 300px;
    margin: 0 auto;
  }
}
